body{
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
}

section{
  height: 100vh;
  text-align: center;
}

.dark{
  text-align: left;
  background-color: black;
  color: white;

  position: relative;
}

img{
  width: 35%;
  height:100vh;
  position: absolute;
  right: 0;
  top:0;
  object-fit: cover;
  z-index: 0;
}

.content{
  padding:9em 5em;
  z-index: 1;
  position: relative;
}

h2{
  font-size: 5em;
  margin-bottom: 0;

}
p{
  font-size: 1.6em;
}
.t2{
  background-color: white;
}